@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: hsl(0 0% 100%) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* variables */
:root {
  --border-radius: 0.75rem;
  --border-color: #e5e7eb;
  /* --text-gray: #71717a; */
  --text-gray: #868e96;
  --text-white: #fff;
  --text-black: #000;
  --card-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* common */
.bg-color {
  background-color: #f4f4f5;
}
.shimmer-btn {
  overflow: hidden;
  position: relative;
}
.shimmer-btn:after {
  -webkit-animation-direction: forward;
  animation-direction: forward;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: moveAfter;
  animation-name: moveAfter;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: linear-gradient(
    180deg,
    hsla(21, 63%, 73%, 0),
    hsla(0, 0%, 100%, 0.5) 50%,
    hsla(21, 63%, 73%, 0)
  );
  bottom: -50%;
  content: '';
  left: -50%;
  position: absolute;
  right: -50%;
  top: -50%;
  -webkit-transform: rotate(60deg) translate(-5em, 7.5em);
  transform: rotate(60deg) translate(-5em, 7.5em);
}
@keyframes moveAfter {
  100% {
    -webkit-transform: rotate(60deg) translate(1em, -9em);
    transform: rotate(60deg) translate(1em, -9em);
  }
}
.cursor-pointer {
  cursor: pointer !important;
}
img {
  max-width: 100%;
}
body .btn-main-btn {
  background: var(--text-black);
  color: var(--text-white);
  font-size: 14px;
  font-weight: 600;
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .btn-main-btn:hover {
  border-color: var(--text-black);
}
body .btn-main-btn:hover svg {
  stroke: var(--text-black);
}
body .project-btn .btn-main-btn {
  border-radius: 30px;
}
body .project-btn .btn-main-btn.gray-btn {
  background: #f4f4f5;
  color: #18181b;
  border-color: #f4f4f5;
}
body .project-btn .btn-main-btn.gray-btn:hover svg {
  stroke: none;
}
body .project-btn a {
  text-decoration: none;
}
body .project-btn a:hover {
  color: var(--text-black);
}

.round-border {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}
.text-gray {
  color: var(--text-gray);
  font-weight: 400;
}

/* header */
body .sticky-top {
  position: sticky;
  top: 0px;
  /* margin: 0 24px; */
  margin: 0 20px;
  width: calc(100% - 40px);
  border-radius: var(--border-radius);
  background-color: hsl(0 0% 100% / 0.5);
  border-color: hsl(0 0% 96.1%);
  border: 0 solid #e5e7eb;
  backdrop-filter: blur(16px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  animation-duration: 0.3s;
  border: 1px solid #e4e4e766;
}
/* body .navbar-nav-scroll {
  max-height: auto !important;
} */
body .navbar-brand {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text-black);
  border-radius: 50%;
  color: var(--text-white);
  font-size: 24px;
  font-weight: 600;
}
.custom-top {
  margin-top: -85px;
}
body .navbar-brand:hover {
  color: var(--text-white);
}
body .nav-link {
  color: var(--text-black);
}
body .navbar-nav .nav-link.active {
  font-weight: 600;
}
/* hero-banner */
.hero-detail {
  color: var(--text-gray);
  font-size: 1.2rem;
  line-height: 2rem;
}
.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}
.wave-emoji img {
  width: 50px;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.get-resume:hover svg {
  fill: var(--text-black);
}
.hero-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* margin-top: -72px; */
  justify-content: center;
  padding: 0 15px;
}
.hero-banner-detail {
  max-width: 400px;
  margin: 0 auto;
}
.hero-banner::before {
  content: '';
  position: absolute;
  background-image: url('./Assets/Images/banner.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

/* section-header */
.section-header .position-relative {
  display: inline-block;
}
.section-header h2 {
  font-weight: 700;
}
.section-header {
}
/* Testimonial */
.list__review {
  column-width: 18rem;
  column-gap: 1.5rem;
  list-style: none;
  padding-inline: 1rem;
  /* margin: 2rem 0; */
}
.review__item {
  position: relative;
  /* background: linear-gradient(135deg, rgb(182 219 255) 0, rgb(238, 248, 255) 100%); */
  background: linear-gradient(
    135deg,
    rgb(255 255 255) 0,
    rgb(238, 248, 255) 100%
  );
  border-radius: 0.8em;
  padding: 1.25rem;
  break-inside: avoid;
}
.review__heading {
  position: absolute;
  inset: 0 auto auto 0;
  background: var(--text-white) fff;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 !important;
  border-radius: 25px;
  padding: 5px 10px;
  line-height: 1;
  transform: translate(-10px, -50%);
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.05), 0 1px 0 0 rgba(10, 10, 10, 0.05),
    0 0.1em 0.6em -0.5em rgba(10, 10, 10, 0.05),
    0 0.2em 1.2em -0.8em rgba(10, 10, 10, 0.1),
    0 0.3em 0.7em -0.6em rgba(10, 10, 10, 0.2),
    0 0.4em 0.8em -0.7em rgba(10, 10, 10, 0.3);
}
.review__heading {
  position: absolute;
  inset: 0 auto auto 0;
  background: var(--text-white) fff;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 !important;
  border-radius: 25px;
  padding: 5px 10px;
  line-height: 1;
  transform: translate(-10px, -50%);
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.05), 0 1px 0 0 rgba(10, 10, 10, 0.05),
    0 0.1em 0.6em -0.5em rgba(10, 10, 10, 0.05),
    0 0.2em 1.2em -0.8em rgba(10, 10, 10, 0.1),
    0 0.3em 0.7em -0.6em rgba(10, 10, 10, 0.2),
    0 0.4em 0.8em -0.7em rgba(10, 10, 10, 0.3);
}
.review__title {
  position: relative;
  font-size: 0.625rem;
}
.review__content {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #222222;
}
.review__author {
  font-style: italic;
  font-size: 0.75rem;
}
.review__stars {
  font-size: 0.625rem;
}
.review__item:not(:first-child) {
  margin-block-start: 1.5rem;
}
/* about */
.about-left {
  transform-style: preserve-3d;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.about-left-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.about-left-img img {
  border-radius: 50%;
  height: 100%;
  /* width: 100%; */
  object-fit: cover;
}

/* experience-card */
.experience-card h3 {
  font-weight: 600;
  letter-spacing: -0.025em;
}
.experience-card div {
  box-shadow: unset !important;
  background-color: transparent !important;
  padding: 0 !important;
  color: var(--text-black) !important;
}
.experience-card li {
  font-size: 1rem;
  font-weight: 400;
}
.experience-card div.single {
  padding: 1.5rem !important;
  padding-bottom: 10px !important;
}
.experience-card .badge {
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* project */
.project-card {
  transition: all 0.5s ease;
}
.project-detail:hover {
  color: var(--text-black);
}
.project-card:hover {
  margin-top: -8px;
  transition: all 0.5s ease 0s;
}
.project-img {
  width: 100%;
  border-radius: var(--border-radius);
  /* max-height: 200px;
  min-height: 200px; */
  /* object-fit: cover; */
}
.modal-body .project-img {
  /* max-height: 300px;
  min-height: 300px; */
  /* object-fit: cover; */
}
body .modal {
  overflow: hidden;
}
body .modal-body {
  height: calc(100vh - 200px);
  overflow-x: auto;
}

/* skill */
.skills {
  position: relative;
}
.skill-inner:before {
  background: linear-gradient(
    90deg,
    var(--text-white),
    rgba(247, 251, 254, 0.02) 18.23%,
    rgba(247, 251, 254, 0) 51.37%,
    rgba(247, 251, 254, 0.07) 87.5%,
    var(--text-white)
  );
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.skill-right-slider {
  margin-top: -25px;
}
.skill-right-slider:last-child {
  margin-top: -90px;
}
.skill-right-slider .slick-list,
.skill-right-slider .slick-track {
  height: 250px;
}
.skill-right-slider .slick-slide {
  margin: 10px;
}
.skill-right-slider .skill-one {
  border-radius: var(--border-radius);
  /* box-shadow: 1px 0 3px #98c1d9; */
  border: 1px dashed var(--border-color);
  padding: 20px;
  transition: all 0.5s ease 0s;
}
.skill-right-slider .skill-one .skill-icon {
  margin-bottom: 20px;
}
.skill-right-slider .skill-one h3 {
  /* font-family: Sofia Pro, sans-serif; */
  font-weight: 400;
  margin-bottom: 0;
}
.skill-right-slider .skill-one .skill-icon img {
  height: 50px;
}
footer a {
  color: var(--text-white);
}
footer {
  font-size: 14px;
  background: var(--text-black);
  color: var(--text-white);
}
.footer-heart svg {
  height: 20px;
  width: 20px;
}
.footer-heart path {
  fill: red;
}
.line-arrow-icon {
  margin-top: -20px;
  /* width: 47%; */
}
body .navbar-toggler,
body .navbar-toggler:focus {
  padding: 0;
  border: 0;
  box-shadow: none;
}

/* bottom to top */
#button {
  border-radius: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 991px) {
  body .sticky-top {
    position: fixed;
    top: 15px;
  }
  body .nav-link {
    padding: 10px 0 !important;
  }
  /* .hero-banner::before {
    background-size: contain;
  } */
  body .sticky-top .container-fluid {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .about-left-img {
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 600px) {
  .experience-card div.single {
    padding: 1rem !important;
    padding-bottom: 10px !important;
  }
}
